.collection {
    padding: 8px 16px;
    background-color: olive;
}

.recipe-card {
    padding: 8px 16px;
    background-color: whitesmoke;
}

.ingredient {
    display: flex;
    padding: 8px 16px;
    background-color: turquoise;
}

.ingredient-name {
    max-width: 40%;
    width: 100%;
}

.ingredient-quantity,
.ingredient-button,
.ingredient-notification {
    width: 20%;
    text-align: center;
}